* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.8);
	border-color:#00FFFF;
	border-width:0px;
	
}

button {
    border-radius: 15px;
    border-color: #00FFFF;
    text-decoration-color: #FFFFFF;
    color: #FFFFFF;
    font-size:16px;
    margin:15px;
    background-color: #1E1E1E;
    border-style: solid;
    border-width: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    min-height:60px;
}



grid {
	border-radius:30px;
    border: 2px solid #00FFFF;
}

image {
    margin: 2px;
}

button:active, button:hover {
	background-color: #004549;
	outline-style: none;
}

#lock {
    background-image: image(
        url("/usr/share/wlogout/icons/lock.png"), 
        url("/usr/local/share/wlogout/icons/lock.png")
    );
}

#logout {
   	background-image: image(
        url("/usr/share/wlogout/icons/logout.png"), 
        url("/usr/local/share/wlogout/icons/logout.png")
    );

}

#suspend {
    background-image: image(
        url("/usr/share/wlogout/icons/suspend.png"), 
        url("/usr/local/share/wlogout/icons/suspend.png")
    );

}


#shutdown {
    background-image: image(
        url("/usr/share/wlogout/icons/shutdown.png"), 
        url("/usr/local/share/wlogout/icons/shutdown.png")
    );

}

#reboot {
    background-image: image(
        url("/usr/share/wlogout/icons/reboot.png"), 
        url("/usr/local/share/wlogout/icons/reboot.png")
    );

}


